*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    
}
/*HEADER*/
nav{
    background: #ffffff;
    height: 80px;
    width: 100%;
}
.enlace{
    position: absolute;
    padding: 20px 50px;
}
.logo{
    height: 40px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
   
}
nav ul li a{
    color: rgb(0, 0, 0);
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
li a:hover{
    background: #bdbdbd;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: rgb(10, 0, 0);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
 
/*CONTENIDO DE LA PAGINA*/
body{
    display: flex;
    flex-direction: column;
    min-height: 600vh;
    max-width: auto;
}
/*primer div*/
.inicio{ 
    background-color: #fad8f3;
    width: 100% ;
    max-width: 97%;
    height: auto;
    position: relative; 
    overflow: hidden;
    margin-left: 3%;
}
.inicio img{
    height: auto;
    width: auto;
    border-radius: 20px;
    float: left;
    box-shadow: 8px 10px 15px black;
    
}
.inicio h1{
    text-align: center;
    margin-right: 15px;
    font-size: 60px;
    line-height:1.5;
    padding: 0 2%;
    font-family: 'Nunito', sans-serif;
    font-family: 'Vujahday Script', cursive;
}
.inicio p{
    text-align: center;
    margin-right: 15px;
    margin-top: 3%;
    font-size: 30px;
    line-height:1.5;
    padding: 0 2%;
    font-family: 'Nunito', sans-serif;
    font-family: 'Vujahday Script';
}
.btn-producto{
    display: inline-block;
    margin: 13% 10%;
    border-radius:3px;
    padding: 20px 30px;
    text-decoration: none;
    font-size: 25px;
}
.btn-color{
    color: white;
    background-color: rgba(203, 132, 236, 0.658);
}
.btn-color:hover{
    background-color: rgb(109, 69, 110);
    transition: 1s;
}
.botones-inicio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
/*INTENCIONES*/
.int-titulo {
    margin-top: 2%;
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
    text-align: center;
    
}
.intenciones{
    font-family: 'Nunito', sans-serif;
    font-family: 'Vujahday Script';
    font-size: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
    padding: 0 10%;

}
.int-calidad{
    background-color: #c581b8;
    border-radius: 50%;
}
/*PRODUCTOS*/
.productos{
   width: 100%;
   height:100%;
   max-width: 99%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin-top: auto; 
}
.productos h2{
    margin-top: 5%;
    font-family: 'Nunito', sans-serif;
    font-family: 'Vujahday Script';
    font-size: 50px;
    text-align: center;
}
h3{
    font-family: 'Nunito', sans-serif;
    font-family: 'Vujahday Script';
    font-size: 30px;
}
.productos p{
    font-family: 'Nunito', sans-serif;
    font-family: 'Vujahday Script';
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
    padding: 0 5%;
}
.card{
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}
.card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
.card img{
    width: 330px;
    height: 220px;
}
.card h4{
    font-weight: 600;
}
.card p{
    padding:0 1rem ;
    font-size: 16px;
    font-weight: 300;
}
/* ? SHOPPING CARDS */
  .shoppingCartItem{
    padding: 20px 0px;
  }
  
  .shopping-cart-header {
    border-bottom: 1px solid #ccc;
  }
  
  .shopping-cart-image {
    max-width: 80px;
    border-radius: 20px;
  }
  
  .shopping-cart-quantity-input {
    max-width: 45px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #eee;
    padding: 5px;
  }
  
  .shopping-cart-total {
    min-height: 96px;
  }
/*FOOTER*/
footer{
    background-color:rgba(185, 74, 236, 0.658);
    margin-top: auto;
    width:100%;
    height:80px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


/*MEDIA QUERIES*/
@media (max-width: 952px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: red;
    }
    #check:checked ~ ul{
        left:0;
    }
}